# Visit https://editorconfig.org to read more about this file

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.json]
trim_trailing_whitespace = true

[*.{ts,tsx}]
trim_trailing_whitespace = true
