{
  // Visit https://eslint.org/docs/user-guide/configuring to read more about this file

  // 0 === off | 1 === warn (warning) | 2 === error

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "codeFrame": true,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".ts", ".tsx"]
      }
    },
    "import/extensions": [".ts", ".tsx"]
  },
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"

  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
