# Visit https://git-scm.com/docs/gitignore to read more about this file

# .env files
/src/config/.env.development
/src/config/.env.production

# woork environment
/.vscode

# dependencies
/node_modules
